#manege {
  display: inline-flex;
  width: 100%;
}

* {
  border: 1px solid red;
}

.sidebar {
  background-color: var(--third-bg-color);
  width: 12%;
  z-index: 99;
}
.sidebar:hover {
  box-shadow: 3px 0px 20px black;
}
.sidebar a {
  font-size: 1.6rem;
  color: var(--bg-color);
  display: block;
  width: 100%;
  padding: 5% 2rem;
}
.sidebar a:hover {
  box-shadow: inset 6px 0px var(--main-color);
}
.sidebar a i {
  margin-right: 1rem;
}

.content_wrapper {
  width: 88%;
}
.content_wrapper .logintime {
  background-color: var(--text-color);
  text-align: end;
  font-size: 1.6rem;
  padding: 0.6rem;
}
.content_wrapper .WelcomeText {
  font-size: 2rem;
  padding: 1.2rem 2rem;
  color: var(--text-color);
}
.content_wrapper .content {
  background: var(--third-bg-color);
  height: 62vh;
  margin: 0.5rem 2rem;
  position: relative;
  padding: 2rem;
}
.content_wrapper .content .btnGroup {
  position: absolute;
  top: -1rem;
  left: 0rem;
}
.content_wrapper .content .btnGroup .btn {
  font-size: 1.5rem;
  background-color: var(--main-color);
  color: var(--text-color);
  padding: 0.2rem 0.5rem;
  margin-right: 0.2rem;
  border-radius: 0.5rem 0.5rem 0 0;
}
.content_wrapper .content form .inputGroup input {
  font-size: 1.6rem;
  width: 30%;
}
.content_wrapper .content form .inputGroup .btn {
  display: inline-block;
  height: 100%;
  font-size: 1.5rem;
  background: var(--main-color);
  color: var(--text-color);
  padding: 0.2rem;
  margin-left: 1rem;
}
.content_wrapper .content form .inputGroup .btn:after {
  content: " Search";
  font-family: "Bebas Neue", sans-serif;
}