:root{
    --bg-color:#2C3639;
    --second-bg-color:rgb(63, 78, 79);
    --third-bg-color:rgb(220, 215, 201);
    --text-color:white;
    --main-color:rgb(162, 123, 92);
    --alert-color:rgb(161, 33, 33);
}

body{
    height: 100vh;
    background-color: var(--second-bg-color);
}
section{
    height: 85vh;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
}

a{
    cursor: pointer;
}

#filter{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background: var(--bg-color);
    color: var(--main-color);
    opacity: 1;

    h1{
        font-size: 10rem;
    }
}
.animate__bounceOut{
    --animate-duration: 2s;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 0 1rem;
    position: relative;
    height: 10vh;

    #logo{
        font-size: 50px;
        color: var(--text-color);
        line-height: 10vh;
        &::after{
            content: "Management system";
            font-family: 'Bebas Neue', sans-serif;
            font-size: 50px;
            margin-left: 1rem;   
        }
    }
    
    #menu{
        font-size: 35px;
        color: var(--text-color);
        line-height: 10vh;
    }
}

.pageRow{
    text-align: center;
    margin-top: .5rem;
    font-size: 1.6rem;
    a{
        margin:0px .6rem;
    }
}


footer{

    background: var(--bg-color);
    height: 5vh;
    font-family: 'Noto Sans TC', sans-serif;
    color: var(--text-color);
    text-align: center;
    padding-top:1rem ;
    font-size: 1.2rem;
}

